@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


@font-face {
  font-family: 'Glitten';
  src: url('/Fonts/Glitten-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #23263b;
}

.logo{
  width: 50.47px !important;
  height: 50.22px !important;
  color: #23263b;
}

.logo-text, .find-header, .support-header, .register , .login-header, .section-header{
  font-family: 'Glitten', sans-serif;
  color: #23263b;
}

.unique-text{
    font-family: 'Glitten', sans-serif;
}

.banner-text {
  line-height: 70px;
}

.icon-text {
  font-size: 12px;
}

.xs-default {
  background-color: #23263b;
  font-size: 12px;
}

.search {
  font-size: 12px;
}

.container {
  max-width: 1280px;

  /* border: 1px solid black; */
}

.line {
  color: #23263b;
}

.summer-card {
  /* border: 1px solid red; */
}

/* HOLY GRAIL-- DO NOT TOUCH!!!! */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-track{
  display: flex !important;
  justify-content: space-evenly;
  
}

.slick-slider{
  display: flex !important;
  position: relative;
}

.slick-dots{
  display: none !important;
}

.slick-list{
 
  width: 1200px;
 
}

.slick-arrow{
  display: none !important;
}

.small-screen{
  display: none;
}
.btn-categories{
  display: none;
}

.styx{
  display: none;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

/* Responsiveness */

/* Tablet Landscape and Below (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  /* Adjust layout for tablets or small laptops */


}

/* Tablet Portrait and Below (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Stack elements, reduce padding/margins */


}

/* Large Phones (max-width: 600px) */
@media screen and (max-width: 600px) {
  /* Adjust font sizes, image sizes, hide nav links */


}

/* Phones (max-width: 480px) */
@media screen and (max-width: 30rem) {
  /* One-column layout, mobile menu, full-width inputs */

  body {
    overflow-x: hidden;
    max-width: 30rem; /* 480px */
  }

  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    width: 100%;
  }

  .banner-height {
    padding-top: 11.25rem; /* 180px */
  }

  .head-icons {
    display: none;
  }

  .main-header {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .sm-allowed {
    margin-left: 6rem; /* 96px */
  }

  .icon-size {
    width: 1.1875rem;  /* 19px */
    height: 1.3125rem; /* 21px */
  }

  .mall-categories,
  .line {
    display: none;
  }

  .search {
    flex-direction: column-reverse;
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .input-field {
    width: 22.8125rem; /* 365px */
    /* padding: 1rem 0.3125rem; 20px 5px */
  }

  .btn-list-xl {
    display: none;
  }

  .btn-categories {
    display: contents;
    display: flex;
  }

  /* Banner */
  .banner-content {
    padding: 0 0.875rem; /* 14px */
  }

  .banner-content h1 {
    font-size: 2.8125rem; /* 45px */
  }

  .banner-content h3 {
    font-size: 1.0625rem; /* 17px */
  }

  /* apocrypha styx */
  .styx {
    display: contents;
    /* padding: 0.3125rem 3.125rem; */ /* 5px 50px */
  }

  .section-header {
    font-size: 1.0625rem; /* 17px */
  }

  .styx .kids {
    justify-content: center;
  }

  .categories-image {
    width: 6.875rem; /* 110px */
    aspect-ratio: 2/4;
    object-fit: cover;
  }

  /* trending */
  .trending-main,
  .recommended-container,
  .new-container {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
    margin-top: 1.25rem; /* 20px */
  }

  .summer-container {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .about-you {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
    align-content: center;
  }

  .about-text {
    max-width: 23.4375rem; /* 375px */
    font-size: 1rem; /* 16px */
    margin: 0.625rem 0; /* 10px 0 */
  }

  .about-heading {
    font-size: 1.25rem; /* 20px */
  }

  /* spring and summer */
  .summer-card {
    flex-direction: column;
  }

  .eco-image {
    width: 22.625rem; /* 362px */
    height: 12.5rem;  /* 200px */
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .footer-division {
    width: 100%;
  }

  .footer-text {
    max-width: 100%;
  }

  .handles {
    justify-content: space-between;
  }

  .footer-list {
    width: 100%;
    margin: 0.9375rem 0.3125rem; /* 15px 5px */
  }

  .footer-newsletter {
    width: 100%;
    margin-bottom: 1.25rem; /* 20px */
  }

  .payment {
    padding: 0.625rem 0.875rem; /* 10px 14px */
  }

  .payment p {
    font-size: 0.5625rem; /* 9px */
  }
}


