@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


@font-face {
  font-family: 'Glitten';
  src: url('/Fonts/Glitten-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #23263b;
}

.logo{
  width: 50.47px !important;
  height: 50.22px !important;
  color: #23263b;
}

.logo-text, .find-header, .support-header, .register , .login-header, .section-header{
  font-family: 'Glitten', sans-serif;
  color: #23263b;
}

.unique-text{
    font-family: 'Glitten', sans-serif;
}

.banner-text {
  line-height: 70px;
}

.icon-text {
  font-size: 12px;
}



.xs-default {
  background-color: #23263b;
  font-size: 12px;
}

.search {
  font-size: 12px;
}

.container {
  max-width: 1280px;

  /* border: 1px solid black; */
}



 

#remastered, .reg-form{
 align-content: center;
  height: 100vh;
}


.line {
  color: #23263b;
}

.summer-card {
  /* border: 1px solid red; */
}

.mobile{
  display: none;
}

/* HOLY GRAIL-- DO NOT TOUCH!!!! */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-track{
  display: flex !important;
  justify-content: space-evenly;
  
}

.slick-slider{
  display: flex !important;
  position: relative;
}

.slick-dots{
  display: none !important;
}

.slick-list{
 
  width: 1200px;
 
}

.slick-arrow{
  display: none !important;
}

.small-screen{
  display: none;
}
.btn-categories{
  display: none;
}

.styx, .mini-list{
  display: none;
}

.product-btn{
  width: 180px !important;
}



@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

/* Responsiveness */

/* Tablet Landscape and Below (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  /* Adjust layout for tablets or small laptops */


}

/* Tablet Portrait and Below (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Stack elements, reduce padding/margins */


}

/* Large Phones (max-width: 600px) */
@media screen and (max-width: 600px) {
  /* Adjust font sizes, image sizes, hide nav links */


}

/* Phones (max-width: 480px) */
@media (max-width: 480px) {
  .main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  *{
    overflow-x: scroll;
  }

.favorites-null{
  padding: 4px 14px;
}

.slick-list,
.slick-slider,
.slick-track {
  overflow-x: visible;
}

.omni-product-grid{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.omni-product{
  padding: 4px 14px;
}


/* login page */
.page-icon{
  display: none;
}

.reg-form{
  width: 100%;
}

#remastered{
  padding: 4px 14px;
  /* margin: 40px 0; */
}

.mobile{
  display: contents;
  text-align: center;
}

/* favorites grid */
.favorites-grid{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  /* justify-content: center; */
}


.access-description{
  display: none;
}


.main-carpet{
  display: contents !important;
}

.white-carpet{
  display: none;
}

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .small-style {
    width: auto !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex-shrink: 1;
  }

  .head-icons {
    display: none; /* hide support + store on very small screen */
  }

  .sm-allowed {
    display: flex;
    gap: 0.75rem;
    height: 30px;
    width: 110px;
    align-items: center;
    justify-content: flex-end;
  }

  .inner-sm{
    justify-content: space-between;
    width: 100%;
    
  }

  .icon-bl{
    height: 30px;
    width: 33px;
    align-content: center;
  }

  .icon-size{
    height: 25px !important;

  }
  .logo-text {
    font-size: 1rem;
    white-space: nowrap; 
  }

  /* Optional: shrink icon size a bit more */
  .icon-size {
    width: 14px !important;
    height: 16px !important;
  }

  .input-field {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }

  /* quick view */
  .quick-view-page{
    font-size: 29px;
  }
  .quick-view-text{
    font-size: 20px;
  }


   .banner-content h1 {
    font-size: 2.8125rem; /* 45px */
  }

  .banner-content h3 {
    font-size: 1.0625rem; /* 17px */
  }

  .btn-categories{
    display: contents;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    width: 100%;
  }

  /* blocked components */
  .btn-list-xl , .mall-categories, .line{
    display: none;
  }

  .search{
    flex-direction: column-reverse;
    width: 100%;
    padding: 4px 14px;
  }

  .styx, .mini-list {
    display: contents;
    /* padding: 0.3125rem 3.125rem; */ /* 5px 50px */
  }

  .section-header {
    font-size: 1.0625rem; /* 17px */
  }

  .styx .kids {
    /* justify-content: center; */
  }

  .categories-image {
    width: 6.375rem; /* 110px */
    aspect-ratio: 2/4;
    object-fit: cover;
  }

  /* trending */
  .trending-main,
  .recommended-container,
  .new-container {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
    margin-top: 1.25rem; /* 20px */
  }

  .summer-container {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .about-you {
    padding: 0.3125rem 0.875rem; /* 5px 14px */
    align-content: center;
  }

  .about-text {
    max-width: 23.4375rem; /* 375px */
    font-size: 1rem; /* 16px */
    margin: 0.625rem 0; /* 10px 0 */
  }

  .about-heading {
    font-size: 1.25rem; /* 20px */
  }

  /* spring and summer */
  .summer-card {
    flex-direction: column;
  }

  .eco-image {
    width: 100%; /* 362px */
    height: 12.5rem;  /* 200px */
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    padding: 0.3125rem 0.875rem; /* 5px 14px */
  }

  .footer-division {
    width: 100%;
    margin-top: 40px;
  }

  .footer-text {
    max-width: 100%;
  }

  .handles {
    justify-content: space-between;
  }

  .footer-list {
    width: 100%;
    margin: 0.9375rem 0.3125rem; /* 15px 5px */
    /* justify-content: space-around; */
  }

  .footer-newsletter {
    width: 100%;
    margin-bottom: 1.25rem; /* 20px */
  }

  .payment {
    padding: 0.625rem 0.875rem; /* 10px 14px */
  }

  .payment p {
    font-size: 0.5625rem; /* 9px */
  }


  /* find a store page */
  .find-store{
    padding: 4px 14px;
  }

  .store-header{
    width: 100%;
    margin-top: 30px;
  }

  .find-header{
    font-size: 25px;
  }

  .omni-form{
    flex-direction: column;
    padding: 0 20px;
  }

  .first-input, .find-store-btn{
    width: 100%;
  }

  .filter-container{
    padding: 30px 0;
  }

  .ocean-buttons{
    padding: 4px 20px;
    gap: 20px;
  }

  .ocean{
    font-size: 10px;
    font-weight: bold;
    padding: 6px 10px;
  }

  .store-card{
    flex-direction: column;
    /* width: 90%; */
  }

  /* .mapped-cards{
    width: 100%;
  } */


  .main-card{
    width: 100%;
  }


  /* support page */
  .support-container{
    padding: 4px 14px;
  }

  .support-text{
    width: 100%;
  }

  .support-header, .support-input{
    font-size: 25px;
  }

  .siren{
    margin-bottom: 30px;
  }

  .support-card{
    flex-direction: column;
  }

  /* quick view */
  .quick-view-container{
    flex-direction: column;
    height: fit-content;

  }

  .quick-container{
    padding: 4px 14px;
  }

  .quick-image{
    width: 100%;
    border: none;
  }

  .quick-description{
    width: 100%;
  }

  /* cart page */
  .cart-enclosure{
    padding: 4px 14px;
    margin-top: 30px;
  }

  .cart-header{
    font-size: 25px;
  }

  .product-container{
    flex-direction: column;
  }

  .cart-image, .cart-details{
    width: 100%;
  }

  .product-img{
    width: 100%;
    height: 100%;
  }

  /* electronics */
  .elect-container, .fav-container{
    padding: 4px 14px;
  }
  
  .discount-list{
    display: none;
  }

  .elect-images{
    flex-direction: column;
  }

  .big-banner, .big-image{
    width: 100%;
  }

  .big-image{
    padding-left: 14px;
    /* align-content: center; */
  }

  .big-prop{
    font-size: 25px;
  }

  .elect-finale{
    display: none;
  }
}





